.photo{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.blockk{
    font-size: larger;
}
.card ul{
    list-style-type:none
}
.card{
    text-align: center;
}
body{
    background: linear-gradient(126deg, #32CD32, #00FA9A);
}